/* Nullifying the previous styles */
* {
  padding: 0px;
  margin: 0px;
}

/* To remove the extra white space that was coming  */
html {
  overflow-x: hidden;
}

/* navbar style start */
.my-style-nav {
  background-color: #777777;
}

/* navbar style ends*/

/* Landing Page Style Ends */

/* banner style starts */

.banner {
  background-image: url("/images/headphones.png");
  height: 70vh;
  background-size: 90vw 70vh;
  background-repeat: no-repeat;
  background-position: center;
}

.bannerContent {
  width: 45vw;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 18%;
  transform: translate(-18%, -40%);
}

.smallBanner {
  width: 35%;
  height: 70%;
  margin: 5% 2%;
}

.previewBanner {
  width: 90%;
  margin-left: 15%;
}

/* banner style ends*/

/* login button style starts */

.myDiv {
  position: relative;
  height: auto;
}

.myLoginButton2 {
  margin: 5% auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.myLoginButton2 button {
  width: 15vw;
  padding: 7%;
}

.myLoginButton button,
.myLoginButton2 button {
  outline: none;
  border: none;

  border-radius: 150px;
  color: #fff;
  background-color: #000;
}

.myLoginButton button {
  width: 10vw;
  padding: 5%;
}

/* login button style ends */

/* Footer style starts */

footer {
  background-color: #888787;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: white;

  display: block;
}

/* Footer style ends*/

/* Responsive design for landing.ejs file */
@media only screen and (max-width: 648px) {
  body {
    overflow-x: hidden;
  }

  .myLoginButton {
    display: none;
  }

  .myLoginButton2 button {
    width: 25vw;
    padding: 7%;
  }

  .banner {
    height: 30vh;
    background-size: 90vw 30vh;
  }

  .bannerContent {
    width: 50vw;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-15%, -25%);
    font-size: 12px;
  }
}

/* Landing Page Style Ends */

/* Login Page Style Begins */

.logoBanner a img {
  border-radius: 25px;
}

.loginForm form,
.loginForm input {
  display: block;
  margin: 0 auto;
}

.loginForm form {
  width: 25%;
}

.loginForm input {
  outline: none;
  border: none;

  width: 73%;
  margin-bottom: 5%;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.loginForm label {
  display: block;
  padding-left: 14%;
}

.loginForm label[for="password"] {
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.loginForm label[for="password"] span a,
.signUpRedirect a {
  text-decoration: none;
}

.loginForm input {
  padding: 0.5% 2.5%;
}

.loginForm input[type="submit"] {
  padding: 1.5% 0;
  background-color: #5a5a5a;
  color: #fff;
}

.signUpRedirect {
  text-align: center;
}

.forgotModal {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.myModal {
  background-color: #fff;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  padding: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.myModal form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

.myModal input {
  display: block;
  margin-top: 1%;
}

.myModal input[type="email"] {
  padding: 0.5% 3%;
}

.myModal input[type="submit"] {
  display: block;
  margin: 5% auto;
  padding: 1% 6%;
}

.closeButton {
  border: none;
  outline: none;
  background: none;
}

.message {
  text-align: center;
  color: red;
  text-transform: capitalize;
  font-style: italic;
}

@media only screen and (max-width: 648px) {
  .logoBanner img {
    width: 105%;
  }

  .loginForm form {
    width: 75%;
  }
}

/* Login Page Style Ends */

/* Sign Up Page Style Starts */

.signUpLink {
  padding: 0 1%;
  color: #f5f5f5;
}

.signUpLink a {
  text-decoration: none;
  color: #00d9ff;
}

.signUp {
  background-image: url("/images/f.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;

  display: block;
  margin: 0 auto;

  height: 85vh;

  position: relative;
}

.signUp h1 {
  text-align: center;
  margin-top: 1.2%;
}

.signUp form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: hsla(0, 0%, 87%, 0.6);
  padding: 3% 0;
  border-radius: 50px;
}

/* Sign Up Page Style Ends */

/* Home Page styles after logging in */

.myWidth {
  width: 98%;
}

.userDiv {
  width: 9%;
}

.user {
  width: 16%;
}

.user p {
  padding-top: 7%;
  color: #fff;
  text-align: end;
  width: 70%;
}

.user img {
  width: 20%;
  height: 85%;
  object-fit: contain;
  padding: 0 1.25%;

  cursor: grab;
  border-radius: 50%;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0.68%;
  border: 1px solid white;

  width: 10%;
  z-index: 1;
}

.dropdown a {
  display: block;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  background-color: #706f6f;
  color: black;
}

/* Card Container style starts */

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.card-box {
  overflow: hidden;
  position: relative;
  padding: 45px;
  box-sizing: border-box;
  width: 280px;
  height: 400px;
  background-image: url("/images/movies.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.card-box:hover {
  background-position-y: 10%;
  filter: drop-shadow(-9px 16px 0px #343331);
}
.card-box:hover > .card-info {
  top: 50%;
  margin-top: 35px;
}
.card-box:hover > .card-text {
  top: 0;
  width: 100%;
  text-shadow: 5px 5px 10px rgba(36, 35, 35, 0.13);
  background-color: rgba(94, 94, 94, 0.5);
}
.card-box:hover > .card-text > .heading {
  text-shadow: none;
}
.card-box:hover > .card-text > .para {
  text-shadow: none;
}
.card-text {
  transition: 0.1s ease;
  margin-bottom: 25px;
  position: absolute;
  color: white;
  text-align: center;
  font-family: "Anton", sans-serif;
  padding: 7px 5px;
}
.card-text .heading {
  font-size: 35px;
  text-shadow: 3px 10px 14px #151515;
}
.card-box .para {
  font-size: 20px;
  text-shadow: 3px 10px 14px #151515;
}

.card-info {
  transition: 0.3s ease;
  bottom: -50%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.card-info .info-para {
  color: white;
  text-shadow: -2px 0px 11px #151515;
}
.card-info button {
  padding: 7px 18px;
  border: none;
  background-color: rgba(94, 94, 94, 0.5);
  margin-top: 25px;
  color: white;
}
.card-info button:hover {
  background-color: rgba(94, 94, 94, 0.5);
}

.card-section {
  margin-top: 45px;
  padding: 7px 18px;

  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
.card-box:nth-child(2) {
  background-image: url("/images/songs.jpg");
}
.card-box:nth-child(2):hover > .card-text {
  top: 0;
  width: 100%;
  text-shadow: 5px 5px 10px rgba(36, 35, 35, 0.13);
  background-color: rgba(94, 94, 94, 0.5);
}
.card-info > button {
  background-color: rgba(94, 94, 94, 0.5);
}
.card-info > button:hover {
  background-color: rgba(94, 94, 94, 0.5);
}

.card-box:nth-child(3) {
  background-image: url("/images/series.jpg");
}
.card-box:nth-child(3):hover > .card-text {
  top: 0;
  width: 100%;
  text-shadow: 5px 5px 10px rgba(36, 35, 35, 0.13);
  background-color: rgba(94, 94, 94, 0.5);
}
.card-info > button {
  background-color: rgba(94, 94, 94, 0.5);
}
.card-info > button:hover {
  background-color: rgba(94, 94, 94, 0.5);
}

/* Card Container style ends */

@media only screen and (max-width: 648px) {
  .dropdown {
    right: 0%;
    width: 100%;
  }

  .user {
    width: 56%;
  }
}
/* Home page style ends */
/* User Profile stlye starts */

.userProfile {
  object-fit: contain;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.myDetails {
  transform: translate(10%, 15%);
}

.myDetails input {
  border: none;
}

.myDetails button {
  display: block;
  margin: 0 auto;
}
.changePassBtn {
  border: none;
  outline: none;

  padding: 1.5%;
  border: 1px solid black;
  border-radius: 5px;
}
/* User Profile stlye ends */
