<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Entertainment</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <!-- JS -->
    <script src="../js/animation.js" defer></script>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar my-style-nav">
      <div class="d-flex justify-content-between myWidth">
        <div class="fluid-container">
          <a
            class="navbar-brand d-flex justify-content-center ps-2 rounded-pill"
            href="/home"
          >
            <img
              src="/images/logoed.png"
              alt="Entertainment"
              width="135"
              height="45"
              class="rounded-pill"
            />
          </a>
        </div>
        <div class="user d-flex justify-content-between align-middle">
          <p><%= cred.username%></p>
          <img src="/images/user.jpg" alt="user" />
        </div>
      </div>
    </nav>
    <div class="dropdown">
      <a href="/profile">My Profile</a>
      <a href="/logout">LOGOUT</a>
    </div>

    <!-- main body -->
    <div class="banner mt-5">
      <h1 class="bannerContent">
        KNOW WHAT YOU ARE WATCHING <br />
        AT <br />
        ENTERTAINMENT DISTRICT
      </h1>
    </div>

    <!-- Sub body -->
    <h1 class="text-center p-5">Where do you want to go User!!!!</h1>
    <div class="cardContainer pb-5">
      <div class="card-section">
        <div class="card-box">
          <div class="card-text">
            <div class="heading">Movie</div>
            <div class="para">Its a movie time!!</div>
          </div>
          <div class="card-info">
            <button class="card-btn"><a href="/movie">Go to Movies</a></button>
          </div>
        </div>

        <div class="card-box">
          <div class="card-text">
            <div class="heading">Songs</div>
            <div class="para">Lets Listen to some songs!!</div>
          </div>
          <div class="card-info">
            <button class="card-btn" disabled>Listen to Songs</button>
          </div>
        </div>

        <div class="card-box">
          <div class="card-text">
            <div class="heading">Series</div>
            <div class="para">Lets watch some series!!</div>
          </div>
          <div class="card-info">
            <button class="card-btn"><a href="/series">Watch some Series</a></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
