<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Entertainment</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <!-- JS -->
    <script src="../js/landing.js" defer></script>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar my-style-nav">
      <div class="fluid-container">
        <a
          class="navbar-brand d-flex justify-content-center ps-2 rounded-pill"
          href="/home"
        >
          <img
            src="/images/logoed.png"
            alt="Entertainment"
            width="135"
            height="45"
            class="rounded-pill"
          />
        </a>
      </div>
      <img src="/images/user.png" alt="user" class="user" />
    </nav>
    <div class="dropdown">
      <a href="/profile">My Profile</a>
      <a href="/"><% creds.loggedIn = false %>LOGOUT</a>
    </div>

    <!-- main body -->
    <div class="banner mt-5">
      <h1 class="bannerContent">
        KNOW WHAT YOU ARE WATCHING <br />
        AT <br />
        ENTERTAINMENT DISTRICT
      </h1>
    </div>

    <!-- Sub body -->

    <div class="cardContainer"></div>

    <!-- footer -->
    <footer class="text-center">&copy; Samarth Bhatt</footer>
  </body>
</html>
