<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Entertainment</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar my-style-nav">
      <div class="fluid-container">
        <a
          class="navbar-brand d-flex justify-content-center ps-2 rounded-pill"
          href="#"
        >
          <img
            src="/images/logoed.png"
            alt="Entertainment"
            width="135"
            height="45"
            class="rounded-pill"
          />
        </a>
      </div>
      <% if (!authenticated) { %>
      <div class="pe-4">
        <a href="login" class="myLoginButton"><button>LOGIN</button></a>
      </div>
      <% } else { %>
      <img src="/images/user.png" alt="user" class="user " />
      <% } %>
    </nav>

    <!-- main body -->
    <div class="banner mt-5">
      <h1 class="bannerContent">
        KNOW WHAT YOU ARE WATCHING <br />
        AT <br />
        ENTERTAINMENT DISTRICT
      </h1>
    </div>

    <!-- Sub body -->
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-12 col-md-6 myDiv">
          <div class="mb-5">
            <h2 class="text-uppercase text-center smallBannerContent">
              Get Reviews of all the songs and series
            </h2>
            <div class="d-flex justify-content-around">
              <img src="/images/f.jpg" alt="movies" class="smallBanner" />
              <img src="/images/f.jpg" alt="songs" class="smallBanner" />
              <img src="/images/f.jpg" alt="Anime" class="smallBanner" />
            </div>
            <% if (!authenticated) { %>
            <a href="login" class="d-block myLoginButton2"
              ><button>LOGIN</button></a
            >
            <% } %>
          </div>
        </div>
        <div class="col-6 d-none d-md-block">
          <img src="/images/f.jpg" alt="inner view" class="previewBanner" />
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="text-center">&copy; Samarth Bhatt</footer>
  </body>
</html>
