<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Entertainment</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <!-- JS -->
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar my-style-nav">
      <div class="fluid-container">
        <a
          class="navbar-brand d-flex justify-content-center ps-2 rounded-pill"
          href="/home"
        >
          <img
            src="/images/logoed.png"
            alt="Entertainment"
            width="135"
            height="45"
            class="rounded-pill"
          />
        </a>
      </div>
    </nav>


    <!-- footer -->
    <footer class="text-center">&copy; Samarth Bhatt</footer>
  </body>
</html>
